@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  --color1: #d1d1d1;
  --color2: #dbdbdb;
  --color3: #85c7f2;
  --color4: #636363;
  --color5: #4c4c4c;
  background-color: var(--color1);
  color: var(--color5);
  font-family: 'Oswald', sans-serif;
}
